build-QCircularProgressBar-Desktop_Qt_5_4_1_MinGW_32bit-Debug
/build-QCircularProgressBar-Desktop_Qt_5_4_1_MinGW_32bit-Release
/QCircularProgressBar/QCircularProgressBar.pro.user
/QCircularProgressBar/QCircularProgressBar.pro.user.3.3-pre1
/build-Example-Desktop_Qt_5_4_1_MinGW_32bit-Release
/build-Example-Desktop_Qt_5_4_1_MinGW_32bit-Debug
/Example/Example.pro.user
